.profile {
    display: flex;
    padding: 10px;

    &__ava {
        width: 16%;
        border-radius: 4px;
    }

    &__description {
        margin-left: 10px;

        h2 {
            font-size: 22px;
            font-weight: 550;
            margin-bottom: 12px;
        }

        p {
            font-size: 18px;
            margin-top: 6px;
        }
    }
}
