.dialogs_container {
  background-color: #c5d0e6;
  display: flex;
  width: 100%;
  padding: 14px;
}

.dialogs {
  margin-right: 10px;
}

.messages {
  margin: 18px 0 0 10px;

  &__textarea {
    margin-top: 10px;
    display: block;
    width: 300px;
    height: 60px;
    resize: none;
  }

  &__btn {
    font-size: 16px;
    padding: 4px;
    cursor: pointer;
    background-color: blanchedalmond;
    border: 1px solid black;
    border-radius: 6px;
    outline: none;
  }
}
